.venv/
__pycache__/
*.py[cod]
.env
.pytest_cache/
.DS_Store

data/raw/*
data/master/*
data/rejected/*
data/metadata/*
data_pipeline/logs/*

!data/raw/.gitkeep
!data/master/.gitkeep
!data/rejected/.gitkeep
!data/metadata/.gitkeep
!data_pipeline/logs/.gitkeep